.d3-slider-range {
  background:#FF8000;
  left:0px;
  right:0px;
  height: 8px;
  position: absolute;
  top: 2px;
  background: #FF8000;
  /*background: linear-gradient(to right, #FF8000 0%, #FFAA00 100%);*/
}

.d3-slider-handle {
	margin-top: 2px;
  position: absolute;
  width: 0.5em;
  height: 1em;
  border: 1px solid #000000;
  border-radius: 2px;
  background: #FF8000;
  /*background: linear-gradient(to bottom, #FF8000 0%, #FFAA00 100%);*/
  z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #000000;
    background: #FFAA00
}